<%- include ('_header.html') -%>
<section class="bg-light">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
      <div class="col-12 col-lg-5">
        <h2 class="display-4 lh-1 mb-4"><%= __('Try a new way to buy and sell') %></h2>
        <% if(session.userLoged) { %><p><%= __('Hello') %> <%= email %></p> <% } %>
        <p class="lead fw-normal text-muted mb-5 mb-lg-0">
          <%= __('This section is perfect for know us better. You will can buy and sale more and better than other one. Start to search now.') %>
        </p>
      </div>
      <div class="col-sm-8 col-md-6">
        <div class="px-5 px-sm-0">
          <img
            class="img-fluid rounded-circle"
            src="https://source.unsplash.com/u8Jn2rzYIps/900x900"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</section>
<%- include ('_footer.html') -%>
